@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  src: local('Poiret One'), local('PoiretOne-Regular'), url('/fonts/UqyVK80NJXN4zfRgbdfbo55cUQ.woff') format('woff');
}
